*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(155,230,254,1) 4%, rgba(1,129,255,1) 100%);
 
height: 100vh;
}

.head{
   display: flex;
   flex-direction: column;
   align-items: center;
}
/*home style*/
.APP{
    background: rgba(140, 123, 234, 0.311);
    box-shadow: 0 5px 15px rgba(0,0 ,0 ,.5);
    width: 90%;
    max-width: 600px;
    margin: 100px;
    border-radius: 10px;
    padding: 30px;
}
.APP h1{

    font-size:25px;
    color: #FD3B3B;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #FDE93B;
    font-weight: 600;
}
.btn{
    background:#fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3;
}
.btn :hover{
background: #222;
color: #fff;
}
#next-btn{
    background:#001e4d ;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0 ;
    padding:10px ;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
/* end home style*/
.image{
    width: 15%;
    height: auto;
    margin-right: 5%
}

.image1{
    width: 15%;
    height: auto;  
}
.buttonn{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: 19%;
   
}

 .playbtn{
    text-decoration: none;
    text-align: center;
    margin-top: 7%;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #FDE93B;
    border: none;
    border-radius: 30px;
    padding: 4%;
}

.Exit{
    margin-left: 92%;
    /* margin-top: 3%;  */
    height: 50px;
    width: 80px;
    border-radius: 30px;
    background-color: #FD3B3B;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
/*home style*/
  #question_div{
    background-color: rgb(255, 255, 255);
    align-items: center;
    color: rgb(64, 183, 239);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    padding: 1%;
    margin-left: 380px;  
    width: 500px;
    height: 20px;
}
/*****/
.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.iconrule{
    background: rgba(234, 213, 31, 0.918);
    box-shadow: 0 5px 15px rgba(0,0 ,0 ,.5);
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    padding: 5%;
    color: white;
    
   
  
}
.rulediv{
    background: rgba(255, 255, 255, 0.658);
    box-shadow: 0 5px 15px rgba(0,0 ,0 ,.5);
   
    border-radius: 20px;
    width: 250px;
    height: 550px;
    padding: 1%;
}
@media all and (max-width:768px){
    .buttonn{
        margin-left: 35%;
        width: 40%;
        margin-top: 10%;
    }
    .Exit{
        margin-left: 80%;
        margin-top: 25%;
        margin-right: 2%;
        
    }
    #question_div{
        margin-left: 5%;
        width: 90%;
        padding: 1%;
        margin-top: 10%;
    }
    .rulediv{
        width: 90%;
    }
    .image{
        width: 30%;
        height: auto;
       margin-top: 5%;
       margin-left: 10%;
    }
    .image1{
        width: 30%;
        height: auto;  
        margin-left: 10%;
    }
}
 



